$THEMECOLOR: #f7f7f7;
$currentColor: #f502f1;
$primaryColor: #3569FD;
$red: #f56c6c;
$orange: #ff7334;
$green: #67c23a;

$colorGrayDark: #333;
$colorGrayMiddle: #666;
$colorGrayLight: #999;

$cellTextColor: #262b32;

// 边框颜色
$borderOne: #dcdfe6;
$borderTwo: #e2e2e2;

// 背景颜色
$bgColorOne: #fafafa;

// 字体
$lineH: 20px;

// 字体大小
$fontSizeOne: 16px;
$fontSizeTwo: 14px;
$fontSizeThree: 12px;

// 常用宽度
$asideW: 240px;
$mainW: 940px;

$ELROW_H: 40px;

$partTableHeadFontColor: $colorGrayDark;
$partTableBg: #f6f8fa;

$popTableBg: #fafafa;
$popTableRowH: 36px;